body {
    padding: 20px;
    font-family: Helvetica;
    background: #5B9EED;
  }
  
  label {
    font-weight: bold;
    font-size: 1.5rem;
    display: block;
    color: white;
  }
  
  .user-list {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  .user-list li {
    margin-bottom: 20px;
  }
  
  h2 {
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 5px;
  }
  
  input {
    padding: 10px 15px;
    margin-top: 10px;
    width: 200px;
    background-color: rgba(0,0,0,.15);
    border: none;
    color: white;
    outline: 1px solid transparent;
    font-size: 20px;
    font-weight: 300;
  }

  input::placeholder {
    color: #5B9EED;
  }
  
  .filter-button {
    display: block;
    margin-top: 20px;
    outline: 1px solid transparent;
    background-color: rgba(0,0,0,.25);
    color: rgba(0,0,0,0.4);
    border: 0;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 300;
  }
  
  .user__image {
    flex-basis: 50px;
    margin-right: 10px;
    flex-shrink: 0;
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
  }
  
  .user-image img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    display: block;
  }
  
  .user__trigger {
    display: flex;
    align-items: center;
    background: transparent;
    border: 0;
    padding: 0;
    text-align: left;
    margin-bottom: 15px;
    cursor: pointer;
    justify-content: center;
  }
  
  .user__age {
    font-size: 0.8rem;
    color: gray;
    font-weight: bold;
    letter-spacing: 1px;
  }
  
  .user-filter__users-found {
    display: inline-block;
    margin-left: 10px;
    color: white;
  }
  
  .user-list ul {
    list-style: none;
  }

  .user {
    width: 450px;
    margin-left: auto;
    margin-right: auto;
    background:white;
    padding-left: 10px;
    opacity: 1;
    transition: opacity linear 1s;
  }

  .user-list-wrapper{
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
  }

  .user-hide{
    opacity: 0;
    pointer-events: none;
  }